.c-grey-600,
.cH-grey-600:hover {
  color: #7c8695 !important;
}

.bdT {
    border-top: 1px solid rgba(0, 0, 0, .0625) !important;
}

.lh-0 {
    line-height: 0 !important;
}
.ta-c {
    text-align: center !important;
}
.p-30 {
    padding: 30px !important;
}
footer {
    z-index: 1;
    position: relative;
}
