html,
html a,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Roboto, -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #72777a;
  line-height: 1.5;
  letter-spacing: 0.2px;
  overflow-x: hidden;
}

.sidebar {
  background-color: #fff;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 280px;
  z-index: 1000;
}

.sidebar-inner {
  position: relative;
  height: 100%;
}

.sidebar-logo {
  border-bottom: 1px solid rgba(0, 0, 0, .0625);
  border-right: 1px solid rgba(0, 0, 0, .0625);
  line-height: 0;
  padding: 0 20px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #fff;
}

.peers {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fxw-nw {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.peer {
  display: block;
  height: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.peer-greed {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.sidebar-logo a {
  display: inline-block;
  width: 100%;
}

.td-n {
  text-decoration: none !important;
}

.sidebar-logo a .logo {
  background-position: center left;
  background-repeat: no-repeat;
  display: inline-block;
  min-height: 64px;
  width: 100%;
  width: 70px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.sidebar-logo a .logo-text {
  color: #313435;
}

.lh-1 {
  line-height: 1 !important;
}

.mB-0 {
  margin-bottom: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

h5, .h5 {
  font-size: 17.5px;
  font-size: 1.09375rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.sidebar-logo .mobile-toggle {
  display: none;
  float: right;
  font-size: 18px;
  line-height: 64px;
}

[class^="ti-"], [class*=" ti-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar-menu {
  border-right: 1px solid rgba(0, 0, 0, .0625);
  height: calc(100vh - 65px);
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}

.pos-r {
  position: relative !important;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 0;
}

.sidebar-menu li {
  position: relative;
}

.mT-30 {
  margin-top: 30px !important;
}

.sidebar-menu li a {
  color: #72777a;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar-menu>li>a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 15px;
  position: relative;
  white-space: nowrap;
}

.sidebar-menu>li>a .icon-holder {
  border-radius: 6px;
  display: inline-block;
  font-size: 17px;
  height: 35px;
  left: 0;
  line-height: 35px;
  margin-right: 14px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 35px;
}

.c-blue-500,
.cH-blue-500:hover {
  color: #2196f3 !important;
}

.ti-home:before {
  content: "\E69B";
}

.c-indigo-500,
.cH-indigo-500:hover {
  color: #3f51b5 !important;
}

.ti-bar-chart:before {
  content: "\E6BA";
}

.c-light-blue-500,
.cH-light-blue-500:hover {
  color: #03a9f4 !important;
}

.ti-pencil:before {
  content: "\E61C";
}

.c-orange-500,
.cH-orange-500:hover {
  color: #ff9800 !important;
}

.dropdown-toggle {
    white-space: nowrap;
}
.sidebar-menu li a:hover, .sidebar-menu li a:focus {
    color: #313435;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
    color: #0c7bbe;
}

.ti-layout-list-thumb:before {
  content: "\E702";
}

.sidebar-menu li.dropdown.open>a {
  color: #313435;
}

.sidebar-menu li.dropdown.open>a .icon-holder {
  color: #0f9aee;
}

.sidebar-menu li.dropdown .arrow {
  font-size: 10px;
  line-height: 40px;
  position: absolute;
  right: 30px;
  -webkit-transition: all 0.05s ease-in;
  -o-transition: all 0.05s ease-in;
  transition: all 0.05s ease-in;
}

.ti-angle-right:before {
  content: "\E649";
}

.sidebar-menu li.dropdown.open>a>.arrow {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media screen and (min-width: 1440px){
  .is-collapsed .sidebar .sidebar-inner .sidebar-menu li.dropdown .arrow {
      opacity: 0;
  }
}

.sidebar-menu>li.dropdown ul.dropdown-menu {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: none;
  padding-left: 50px;
  padding-top: 0;
  position: relative;
  width: 100%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  min-width: 10rem;
  padding: 8px 0;
  padding: 0.5rem 0;
  margin: 2px 0 0;
  margin: 0.125rem 0 0;
  font-size: 14px;
  font-size: 0.875rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0.25rem;
}

.sidebar-menu>li.dropdown ul.dropdown-menu>li>a {
  display: block;
  padding: 10px 15px;
}

.sidebar-menu::after {
  display: block;
  clear: both;
  content: "";
}

.sidebar-menu li.dropdown.open>.dropdown-menu {
  display: block;
}
